*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:#f8f4ef;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,1);
}
header .logo{
    font-size: 2rem;
    color: beige;
    font-weight: bolder;   
}
header .logo span{
    color: rgb(236, 67, 67);
}
header .navbar a{
    font-size: 16px;
    padding: 0 1.5rem;
    color: black;
}
header .navbar a:hover{
    color: royalblue;
}
header .icon a{
    font-size: 2rem;
    color: black;
    margin-left: 2rem;

}
header .icon a:hover{
    color: royalblue;
}
header #toggler{
    display: none;
}
header .fa-bars{
    font-size:3rem;
    color:#333;
    border-radius: 5rem;
    padding: 5rem 1.5rem;
    cursor: pointer;
    display: none;
}









 
body{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
 
.about-section{
    background: url(pic/pexels-pixabay-207891.jpg) no-repeat;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
}
.inner-container{
    width: 100%;
    float: right;
    background-color: #fdfdfd;
    padding: 10%;
    padding-top:5% ;
box-shadow: rgba(14, 30, 37, 0.12);
 
}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
 
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
h1{
  color: #F85370;
}
 
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
span{
    cursor: pointer;
    font-size: 16px;
  text-align: center;
  padding: 10px;
    width: 500px;
  }
  span:hover{
  background-color: #545454;
  color: #fff;
  border-radius: 20px;
  transition: 0.5s; 
  }
  .footer{
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}

  
 
@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}
 
@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}
 
@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
@media(max-width:487px){
    html{
        font-size: 30%;
    }   
 }

@media(max-width:991px){
    html{
        font-size: 40%;
    }
    header{
    padding: 2rem 9%;
        

}
@media(max-width:768px){
    header{
        font-size: 30%;
    }
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0%;
        background: #eee;
        border-top: 1rem solid rgba(0,0,0,1);
        clip-path: polygon(0 0,100% 0,100% 0, 0 0);
    }
    header #toggler:checked ~ .navbar{
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: rgba(0,0,0,1);
        display: block;

    }
}

}